:root {
    --couleur-primaire-1: #14142d; /* Rouge */
    --couleur-primaire-2: #838c9a; /* Bleu */
    --couleur-primaire-3: #ffffff; /* white */
    --couleur-primaire-4: #365CF5; /* Bleu */
      
  }

  @media screen and (max-width: 768px) {
    .aside {
      display: none;
      width: 54%;
    }
    #app .head-cont {
      margin-left: 0%;
    }
  }  